.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.main-content {
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
}