.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-wrapper {
  display: flex;
  flex: 1;
  min-height: 0;
  /* Critical for nested flex scrolling */
  overflow: hidden;
  width: 100%;
}

.main-content {
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
}

/* Chat Styles */
.chat-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 10px;
  opacity: 0;
  transition: opacity 0.2s;
}

.chat-separator:hover {
  opacity: 1;
}

.chat-separator::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: var(--border-color);
}

.chat-add-bot-btn {
  z-index: 10;
  border-radius: 1em;
  padding: 4px 38px 4px 32px;
  background: var(--bg-secondary);
  border: 1px solid var(--border-color);
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  cursor: pointer;
}

.chat-add-bot-btn:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
  background: var(--bg-secondary);
}

.chat-status-dot {
  font-size: 1em;
  margin-right: 4px;
  transition: color 0.3s ease;
}

.chat-status-dot.active {
  color: var(--accent-color);
}

.chat-status-dot.inactive {
  color: var(--text-secondary);
  opacity: 0.5;
}

/* Graph Viewer Styles*/
.react-flow__panel>button.react-flow__controls-button {
  background-color: var(--bg-secondary);
  border: solid 1px var(--border-color);
  transition: background-color 0.3s ease;
}

.react-flow__panel>button.react-flow__controls-button:hover {
  background-color: var(--border-color);
}

.react-flow__panel>button.react-flow__controls-button>svg {
  filter: invert(1);
}