.spec-node {
    background: #252526;
    border: 1px solid #454545;
    border-radius: 4px;
    min-width: 220px;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;

    /* Default variables */
    --node-accent-color: #007fd4;
    --node-bg-color: #252526;
}

.spec-node.selected {
    border-color: var(--node-accent-color);
    border-width: 1px;
    box-shadow: 0 0 0 1px var(--node-accent-color);
    outline: solid 2px #ffffff;
}

.spec-node-body {
    padding: 8px;
    display: flex;
    gap: 8px;
    flex: 1;
}

.spec-node-body.column {
    flex-direction: column;
    align-items: stretch;
}

.spec-node-body.row {
    flex-direction: row;
    align-items: flex-start;
}

.spec-node-separator-h {
    height: 1px;
    background: #444;
    margin: 2px 0;
}

.spec-node-separator-v {
    width: 1px;
    background: #444;
    align-self: stretch;
}

.spec-node-props {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.spec-node-input-ports {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.spec-node-output-ports {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
}

.spec-node.executing-glow {
    border-color: var(--node-accent-color);
    box-shadow: 0 0 20px var(--node-accent-color);
    z-index: 100;
}